body{

    padding-top: 0.5%;
    margin: 0%;
    background-color: rgb(243, 243, 240);
}

.menu{
    background: rgb(165, 162, 162);  
    box-shadow: 0px 8px 16px 0px rgba(53, 52, 52, 0.2);
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10%;
    background-color: #333;
  }
.menu ul li {
  display: inline-block;
  position: relative;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
  }

.menu ul li ul.dropdown{
  padding: 0px;
  display: none;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.menu ul li:hover ul.dropdown{
  display: block;
}

.menu ul li ul.dropdown li {
  display: block;
}

.menu .active {
    background-color: red;
    font-size: 22px;
  }

.menu li a:hover {
    background-color: #111;
  }



#comment_body{
  padding-left : 10%;
  padding-right: 10%;
}

.Selected_application{
  display: block; 
  margin-left: 10%;
  margin-right: 10%;
  padding: 50px;
  border:1px solid black;
  margin-bottom: 20%;
  
}
